@font-face {
  font-family: SourceSansPro;
  font-display: auto;
  src: url("/assets/fonts/SourceSansPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: SourceSansPro;
  font-display: auto;
  font-weight: 100;
  src: url("/assets/fonts/SourceSansPro-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: SourceSansPro;
  font-display: auto;
  font-style: italic;
  font-weight: 100;
  src: url("/assets/fonts/SourceSansPro-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: SourceSansPro;
  font-display: auto;
  font-style: italic;
  src: url("/assets/fonts/SourceSansPro-Italic.ttf") format("truetype");
}

@font-face {
  font-family: SourceSansPro;
  font-display: auto;
  font-weight: 50;
  src: url("/assets/fonts/SourceSansPro-Light.ttf") format("truetype");
}

@font-face {
  font-family: SourceSansPro;
  font-display: auto;
  font-weight: 50;
  font-style: italic;
  src: url("/assets/fonts/SourceSansPro-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: GTWalsheimPro;
  font-display: auto;
  font-weight: 50;
  src: url("/assets/fonts/GTWalsheimPro-Bold.ttf") format("truetype");
}

@font-face {
  font-family: GTWalsheimPro;
  font-display: auto;
  font-weight: 100;
  src: url("/assets/fonts/GTWalsheimPro-UltraBold.ttf") format("truetype");
}

* {
  font-family: SourceSansPro;
  margin: 0;
}

body {
  overflow: hidden;
  background-image: url(/assets/img/footer_image.jpg);
}

.headline {
  margin-top: 5vw;
}

.headline h1 {
  font-family: GTWalsheimPro;
  text-align: center;
  font-weight: 50;
  font-size: 100px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  background: white;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, white), color-stop(50%, rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, white 50%, rgba(255, 255, 255, 0) 50%);
  -webkit-animation: Rainbow 30s ease infinite;
          animation: Rainbow 30s ease infinite;
  background-size: 200%;
  -webkit-background-clip: text;
  color: transparent;
}

.headline p {
  text-align: center;
  color: white;
  font-weight: 50;
  font-size: 24px;
}

.tag-input:hover {
  outline: none;
  border: none;
}

.wrapper {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper form {
  height: 450px;
  width: 400px;
  margin-top: 50px;
  display: block;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 5px;
  padding: 20px;
  border: solid 1px #ee7203;
  -webkit-box-shadow: 0px 10px 42px 12px rgba(238, 114, 3, 0.75);
  box-shadow: 0px 10px 42px 12px rgba(238, 114, 3, 0.75);
}

.wrapper form .form-group {
  margin: 15px;
}

.wrapper form .form-group input {
  color: #ee7203;
  height: 40px;
  width: 220px;
  padding: 5px;
  font-size: 18px;
  font-weight: 100;
  background: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 2px;
  border: 2px solid transparent;
  border-bottom: 2px solid #ee7203;
}

.wrapper form .form-group input:valid,
.wrapper form .form-group input:focus {
  outline: none;
  border-color: #ee7203;
  -webkit-transition: border-color .3s ease;
  transition: border-color .3s ease;
  -webkit-transition-delay: .15s;
          transition-delay: .15s;
}

.wrapper form .form-group input:valid + .placeholder,
.wrapper form .form-group input:focus + .placeholder {
  top: 10px;
  font-size: 12px;
  background-color: black;
  color: white;
  padding: 0 5px;
}

.wrapper form .form-group .placeholder {
  font-weight: 100;
  position: absolute;
  left: 8px;
  top: calc(50% + 8px);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #aaa;
  -webkit-transition: .5s;
  transition: .5s;
}

.wrapper form .form-group .tags {
  background-color: transparent;
  outline: none;
  border: 2px solid transparent;
  border-bottom: 2px solid #ee7203;
}

.wrapper form .form-group button {
  margin-top: 20px;
  color: white;
  font-weight: 100;
  font-size: 20px;
  height: 50px;
  width: 120px;
  border: 2px solid #ee7203;
  background: transparent;
  border-radius: 2px;
}

.wrapper form .form-group button:focus {
  outline: none;
}

.wrapper form label {
  position: relative;
  padding-top: 20px;
}

.wrapper #status {
  margin-top: 20px;
}

.wrapper #status.success {
  background-color: green;
}

.wrapper #status.error {
  background-color: red;
}

@-webkit-keyframes Rainbow {
  0% {
    background-position: 80%;
  }
  25% {
    background-position: 0%;
  }
  50% {
    background-position: -80%;
  }
  75% {
    background-position: 0%;
  }
  100% {
    background-position: 80%;
  }
}
/*# sourceMappingURL=main.css.map */